

.header {
    margin: auto;
    display: flex;
    height: 55px;
    width: 100%;
    background-color: #c000ff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.navigation {
    justify-content: flex-start;
    display: flex;
    height: 25px;
    background-color: #00eeff;
    margin-left: 10px;
}


.first, .second, .third {
    margin-left: 30px;
}

.first {
    width: 95px;
    
}

.second {
    width: 75px;
}

.third {
    width: 85px;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.fb, .tw {
    width: 30px;
    height: 30px;
    background-color: #00eeff;
}

.container {
    display: flex;
    width: 680px;
    height: 850px;
    margin: 30px auto 0 auto;
}

.main, .side {
    flex: auto;
    
}

.main {
    background-color: #ffda0c;

}

p {
    padding: 30px 10px 0 10px;
}

.box {
    display: flex;
    justify-content: space-around;
}

.square {
    height: 80px;
    flex: 1 1 auto;
    flex-basis: 80px;
    margin: 10px;
    background-color: red;
}

.column {
    column-count: 2;
}

.side {
    background-color: #00e019;
    width: 230px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 50px;
}

.bar {
    height: 40px;
    background-color: #5c2e50;
    margin: 5px 10px 5px 10px;
}

.footer {
    height: 55px;
    width: 680px;
    background-color: #ccc;
    margin: auto;
}