body {
    margin: auto;
}

.header {
    height: 100px;
    background-color: #00ffff;
}

.container {
    display: flex;
    height: 500px;
    justify-content: space-between;
}

.part {
    flex: auto;
}

.main {
    flex-basis: 300px;
    background-color: #ff0000;
    position: relative;
}

.left, .right {
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

.left {
    background-color: #ffa400;
    margin-right: 20px;
}

.right {
    background-color: #8b007e; 
    margin-left: 20px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: #000;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.footer {
    height: 100px;
    background-color: #3900ff;
}