ul {
    list-style: none;
}

.container {
    height: 280px;
    display: flex;
    background-color: #ffda0c;
    align-items: flex-end;
    justify-content: flex-end;
}

.item {
    background-color: #c000ff;
    width: 100px;
    height: 100px;
    margin-left: 7px;
}