.container {
    background-color: #333;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 200px 200px 200px;
    grid-template-rows: 100px 300px 50px;
    grid-template-areas: 'logo current current current'
                         'playlists playlists tracks tracks'
                         'control control control control'
}

.logo {
    background-color: peachpuff;
    grid-area: logo;
    display: flex;
    /* justify-content: center; */
    /* align-items: bottom; */
}

h5 {
    align-self: flex-end;
}

.add {
    background: url(img/add.png) no-repeat center;
    background-size: 100%;
}

.delete {
    background: url(img/delete.png) no-repeat center;
    background-size: 70%;
}

.playlists {
    background-color: yellowgreen;
    grid-area: playlists;
}

.current {
    background-color: azure;
    grid-area: current;
}

.tracks {
    background-color: bisque;
    grid-area: tracks;
}

.control {
    background-color: #eee;
    grid-area: control;
}

.playback {
    /* background-color: thistle; */
    grid-area: playback;
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
    margin-top: 10px;
}

.prev {
    grid-area: prev;
    background: url(img/rewind.svg) center no-repeat;
}


.play{
    background: url(img/play.svg);
}

.pause{
    background: url(img/pause.svg);
}


.next {
    grid-area: next;
    background: url(img/forward.svg) center no-repeat;
    
}

.seekbar {
    grid-area: seekbar;
}

.shuffle {
    grid-area: shuffle;
    background: url(img/shuffle.svg) center no-repeat;
    
}

.volume {
    grid-area: volume;
    background: url(img/volume.svg) center no-repeat;
    
}

button{
    margin-top: 10px; 
    border: none;
    background-size: 50% 50%;
    background-position: center;
    height: 15px; 
    width: 15px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;

}

audio::-webkit-media-controls, audio::-webkit-media-controls-panel {
	background: transparent;
}

/* .playlists li {
    
} */

.active {
    background-color: peachpuff;
}

article {
    width: 200px;
    height: 50px;
    background-color: skyblue;
}