
.back {
    height: 785px;
    width: 620px;
    background: green;
    box-sizing: border-box;
    margin: 1px auto;

}
    
.header {
    height: 45px;
    width: 620px;
    background: yellow;
    box-sizing: border-box;
    margin: 1px auto;
    border: 15px solid red; 
    
}

.leftbox, .rightbox {
    height: 300px;
    width: 285px;
    background: green;
    box-sizing: border-box;
    margin: 1px auto;

}



.bottom {
    height: 300px;
    width: 620px;
    background: green;
    box-sizing: border-box;
    margin: 1px auto;

}
