
.back {
    height: 785px;
    width: 620px;
    background: green;
    box-sizing: border-box;
    margin: 1px auto;

}
    
.header {
    height: 45px;
    width: 620px;
    background: yellow;
    box-sizing: border-box;
    /* margin: 1px auto */;
    border: 15px solid red; 
    padding: 3px;
    margin-bottom: 15px;
    
}

.leftbox, .rightbox {
    height: 410px;
    width: 285px;
    background: yellow;
    box-sizing: border-box;
    margin: 1px auto;
    border: 15px solid red; 

}



.bottom {
    height: 300px;
    width: 620px;
    background: green;
    box-sizing: border-box;
    margin: 1px auto;

}
