

.header {
    margin: auto;
    display: flex;
    height: 55px;
    width: 100%;
    background-color: #c000ff;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.navigation {
    display: flex;
    height: 25px;
    background-color: #00eeff;
    margin-left: 10px;
}

.first, .second, .third {
    margin-left: 30px;
}

.first {
    width: 95px;
    
}

.second {
    width: 75px;
}

.third {
    width: 85px;
}

.container {
    display: flex;
    width: 750px;
    height: 600px;
    margin: auto;
}

.main, .side {
    flex: auto;
}

.main {
    background-color: #ffda0c;

}

.side {
    background-color: #00e019;
    width: 230px;
    flex-grow: 0;
    flex-shrink: 0;
}

.footer {
    height: 55px;
    width: 680px;
    background-color: #ccc;
    margin: auto;
}