
.container {
    display: flex;
    align-items: center;
}
  
.item {
    align-self: flex-start;
    width: 170px;
    height: 170px;
}

.green {
    background-color: #00e019;
}

.yellow {
    background-color: #ffda0c;   
}

.purple {
    background-color: #c000ff;
}