body {
    background-color: #368eee;
}
table {
    width: 800px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    border-style: hidden;
    box-shadow: 0 0 0 1px;
    border-bottom: 5px #9da7b0;
    
}

th, td  {
    border: 1px solid;
    padding: 40px 0 40px 30px;
}

th {
    background-color: #1b1e24;
    color: #d3dce5;
    font-size: 32px;
    
}

td {
    font-size: 24px;
    color: #72748e;
}

tr:nth-child(even) {
    background-color: #ebebeb;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}