body {
    background-color: #368eee;
}
table {
    width: 800px;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border-style: hidden;
    margin: auto;
}

th, td  {
    padding: 40px 0 40px 30px;
}

th {
    box-sizing: border-box;
    background-color: #1b1e24;
    color: #d3dce5;
    font-size: 32px;
    font-weight: 100;
    text-align: left;
    border: 2px solid #343946;
    border-bottom: 5px solid #9da7b0;
    
}

td {
    font-size: 24px;
    font-weight: 300;
    color: #72748e;
    border: 2px solid #c1c2d1;
}

tr:nth-child(even) {
    background-color: #ebebeb;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}