.header {
    background-color: #00ffff;

}

.container {

}

.left {
    background-color: #ffa400;

}

.center {
    background-color: #ff0000;
}

.box {
    background-color: #000;
}

.right {
    background-color: #8b007e;

}

.base {
    background-color: #3900ff;

}