body {
    width: 540px;
    margin: auto;
}

.header {
    background-color: #00ffff;

}

.container {

}

.left {
    background-color: #ffa400;

}

.main {
    background-color: #ff0000;
}

.box {
    background-color: #000;
}

.right {
    background-color: #8b007e;

}

.footer {
    background-color: #3900ff;

}