.header {
    background-color: #c000ff;
}

.item {
    height: 25px;
    background-color: #00eeff;

}

.first {
    width: 95px;
}

.first {
    width: 75px;
}

.first {
    width: 85px;
}

.main {
    background-color: #ffda0c;

}

.side {
    background-color: #00e019;

}