.container {
    background-color: #333;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 200px 200px 200px;
    grid-template-rows: 100px 300px 50px;
    grid-template-areas: 'logo current current current'
                         'playlists playlists tracks tracks'
                         'control control control control'
}

.logo {
    background-color: peachpuff;
    grid-area: logo;
}

.playlists {
    background-color: yellowgreen;
    grid-area: playlists;
}

.current {
    background-color: azure;
    grid-area: current;
}

.tracks {
    background-color: bisque;
    grid-area: tracks;
}

.control {
    background-color: maroon;
    grid-area: control;
}

.playback {
    /* background-color: thistle; */
    grid-area: playback;
}

.prev {
    grid-area: prev;
    background: url(img/rewind.svg) 0 0 transparent;
}

.pause {
    grid-area: pause;
    background: url(img/pause.svg) 0 0 transparent;
    
}

.next {
    grid-area: next;
    background: url(img/forward.svg) 0 0 transparent;
    
}

.seekbar {
    grid-area: seekbar;
}

.shuffle {
    grid-area: shuffle;
    background: url(img/shuffle.svg) 0 0 transparent;
    
}

.volume {
    grid-area: volume;
    background: url(img/volume.svg) 0 0 transparent;
    
}

button {
    width: 5px;
    height: 5px;
    background-color: yellow;
}

