body {
    background-color: #322a61;
}

.container {
    margin: 40px auto 0 auto;
    display: flex;
    width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 30px;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    color: #ddd;

}

.blue {
    background-color: #49579e;
    box-shadow: 0 5px 0 #363899, 2px 7px 5px #181938;
}

.green {
    background-color: #00b65e;
    box-shadow:  0 5px 0 #369978, 2px 7px 5px #181938;
}

.red {
    background-color: #dd281b;
    box-shadow: 0 5px 0 #9c322f, 2px 7px 5px #181938;
}

/* .light {
    background-color: #00aff0;
    box-shadow: 0 5px 0 #322a61;
}

.black {
    background-color: #27282a;
}

.white {
    background-color: #e3e8f7;
} */