body {
    background: #ddd;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 200px 400px auto;
    display: grid;
    grid-template-areas: 'cover cover'
                         'content side'
}


.cover {
    /* height: 200px; */
    background-image: url(background.jpg);
    background-position-y: -400px;
    grid-area: cover;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 55px;
    text-align: center;
    padding-top: 60px;
}

.content {
    background-color: #fff;
    grid-area: content;
    padding: 20px;
    width: 90%;
    margin: 15px auto 15px auto;

}

.side {
    grid-area: side;
    margin: 15px;

}

ul, li {
    list-style: none;
}

ul {
    background-color: azure;
    border: 2px black solid;
    padding: 10px;
    margin: 5px auto 5px auto;
}

button {
    width: 100%;
    background-color:skyblue;
    color: white;
}

.info {
    margin-top: 10px;
    background-color: #fff;
    padding: 5px;

}