body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    margin-top: -60px;
    width: 100%;
    z-index: 3;
    position: relative
}


.banner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    color: white;
    background-color: black;
}

.banner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
    top: 470px;
    width: 100%;
    color: white;
    background-color: black;
    z-index: 4;
}

.outer {
    position: relative;
}
.outer .header {
    position: absolute;
    bottom: 0;
    top: auto;
}

ul, il {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

li {
    font-size: 25px;
    color: #eee;
    margin: auto 80px auto 80px;
    padding: 10px;
    transition: 1s;

}

li:hover {
    background-color: rgb(51, 42, 38);
}

.container {
    position: absolute;
    top:450px;
    left: 0;
    display: grid;
    background-color: #333;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, minmax(300px, auto));
    grid-template-areas: 'left picture'
                         'left upper'
                         'left lower'
}

.left {
    padding: 30px;
    grid-area: left;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.upper {
    grid-area: upper;
}

.lower {
    grid-area: lower;
}

.picture {
    grid-area: pircture;
}


/* @media screen and (max-width: 1000px) {
    #body {
        background-size: contain;
    }
} */