ul {
    list-style: none;
}

.navigation {
    height: 80px;
    width: 100%;
    background-color: #c000ff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

.item {
    height: 30px;
    width: 80px;
    background-color: #00eeff;
    margin-left: 20px;
}

.container {
    width: 670px;
}

.section {
    display: flex;
    width: 670px;
    margin: 40px;
}

.first {
    flex: 1 1 auto;
    background-color: green;
}

.block1 {
    flex: 2;
    height: 220px;
    background-color: green;
    margin: 5px;
}

.block2 {
    flex: 1;
    height: 220px;
    background-color: green;
    margin: 5px;
}

.block3 {
    flex: 1;
    height: 220px;
    background-color: green;
    margin: 5px;
}